<nav class="navbar navbar-dark fixed-top bg-brand-dark flex-md-nowrap p-0 navbar-expand-sm">
    <a class="navbar-brand ps-3" href="./">GRCC Technology Learning Center</a>
    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active text-nowrap">
                <a class="nav-link" href="./">Docs</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="./examples">Examples</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="https://github.com/grcc-cis-openlab/web-applications">
                    <i class="fab fa-github"></i>
                    Github
                </a>
            </li>
        </ul>
        <form id="search-form" class="d-flex me-2" role="search">
            <input id="search" name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-light" type="submit">
                <i class="fas fa-search"></i>
                <span class="sr-only">Search</span>
            </button>
          </form>
    </div>
</nav>