<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading">
            <a href="./" class="nav-link">
                <i class="fa fa-home"></i>
                Home
            </a>
        </h6>

        <h6 class="sidebar-heading">
            CIS-148 Html Essentials
        </h6>
        <ul class="sidebar-nav-list">
            <li class="nav-item"><a class="nav-link" href="html-essentials-dev-tools">Setting Up a Local Development Environment</a></li>
            <li class="nav-item"><a class="nav-link" href="connecting-to-raider">Connecting to the Raider Web Server</a></li>
        </ul>

        <div class="sidebar-heading">
            <h6>CIS-241 Web Application Programming I</h6>
            <h6>CIS-247 Web Application Programming II</h6>
        </div>
        <ul class="sidebar-nav-list">
            <li class="nav-item"><a class="nav-link" href="setting-up-ec2-tutorial">Setting Up an AWS EC2 LAMP Server</a></li>
            <li class="nav-item"><a class="nav-link" href="running-automated-ec2-script">Automated AWS EC2 Installation</a></li>
        </ul>
    </div>
</nav>