body { font-size: 1rem; counter-reset: example; }

.bg-brand-dark { background-color: #032c4d; }

/* Sidebar */
.sidebar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 100; /* Behind the navbar */ padding: 65px 0 0; /* Height of navbar */ box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); font-size: 0.85rem; }

.sidebar .sidebar-sticky { position: relative; top: 0; height: calc(100vh - 65px); overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ }

@supports (position: -webkit-sticky) or (position: sticky) { .sidebar .sidebar-sticky { position: -webkit-sticky; position: sticky; } }

.sidebar .sidebar-heading { margin: 1rem 1rem 0.5rem; }

.sidebar .sidebar-headingh4 { font-size: 1.25rem; }

.sidebar .sidebar-headingh6 { font-size: .85rem; }

.sidebar .sidebar-nav-list { margin: 0 1rem 1rem; padding: 0 0 0 1rem; }

.sidebar .sidebar-nav-list .nav-link { font-weight: 500; color: #007bff; }

.sidebar .sidebar-nav-list .nav-link .feather { margin-right: 4px; color: #999; }

.sidebar .sidebar-nav-list .nav-link.active, .sidebar .sidebar-nav-list .nav-link:hover { color: #cc1821; }

.sidebar .sidebar-nav-list .nav-link:hover .feather, .sidebar .sidebar-nav-list .nav-link.active .feather { color: inherit; }

.sidebar, .navbar-brand { width: 300px; }

/* Content */
.main-content { padding-top: 65px; /* Space for fixed navbar */ max-width: 1100px; }

.main-content #main { padding: 2rem; }

.main-content #main h1 { color: #032c4d; margin-bottom: 1.25rem; }

.main-content #main h2 { font-size: 1.75rem; margin-top: 1.5rem; margin-bottom: 0.75rem; }

.main-content #main h3 { font-size: 1.5rem; margin-top: 1.5rem; margin-bottom: 0.75rem; }

.main-content #main h4 { font-size: 1.25rem; margin-top: 1.5rem; margin-bottom: 0.75rem; }

.main-content #main img { display: block; margin: 0.25rem auto; max-width: 800px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125); }

.main-content #main i, .main-content #main em { color: #032c4d; font-weight: 600; }

.main-content #main #marquee-logo { margin-bottom: 3rem; }

.main-content #main #marquee-logo img { box-shadow: none; max-width: 400px; }

@media (min-width: 768px) { .main-content { margin-left: 300px; } }

/* Navbar */
.navbar.navbar-dark { background-color: #032c4d; color: #fff; }

.navbar.navbar-dark a, .navbar.navbar-dark .nav-link { color: #ffcc00; }

.navbar.navbar-dark a:hover, .navbar.navbar-dark a:active, .navbar.navbar-dark .nav-link:hover, .navbar.navbar-dark .nav-link:active { color: #e6b800; }

.navbar-brand { padding-top: 1.25rem; padding-bottom: 1.25rem; font-size: 1rem; background-color: rgba(0, 0, 0, 0.25); color: #ffcc00; }

.form-control-dark { color: #fff; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }

.form-control-dark:focus { border-color: transparent; box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25); }

/* Utilities */
.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.section-title { border-bottom: 1px solid #e5e5e5; padding-bottom: 0.5rem; margin: 2rem 0 1rem; color: #800; }

div.code-toolbar > .toolbar > .toolbar-item > button { background: #007bff; color: #fff; padding: 3px 6px; }

div.code-toolbar > .toolbar > .toolbar-item > button:hover, div.code-toolbar > .toolbar > .toolbar-item > button:active { color: #ffcc00; }

.bb-scroll-widget { position: fixed; bottom: 2rem; right: 2rem; font-size: 1.5rem; z-index: 9999; display: none; }

.bb-scroll-widget a { text-decoration: none; }

.bb-scroll-widget .back-to-top { text-decoration: none; padding: 0; }

.bb-scroll-widget .back-to-top .fas.fa-square { color: rgba(238, 61, 63, 0.65); }

.bb-scroll-widget .back-to-top .fas.fa-arrow-up { color: #fff; }

.bb-scroll-widget .back-to-top:hover .fas.fa-square { color: #032c4d; }

.bb-scroll-widget .back-to-top:focus { outline: none; }

.bb-scroll-widget .back-to-top > i { padding: 5px; }

#lunrsearchresults #search-results { list-style: none; margin: 0 1rem 1rem; padding: 0; }

#lunrsearchresults #search-results .lunrsearchresult { font-size: 0.85rem; padding: 0; margin-bottom: 1.5rem; display: block; color: rgba(0, 0, 0, 0.65); }

#lunrsearchresults #search-results .lunrsearchresult:last-child { margin-bottom: 0; }

#lunrsearchresults #search-results .lunrsearchresult .title, #lunrsearchresults #search-results .lunrsearchresult .body, #lunrsearchresults #search-results .lunrsearchresult .url { display: block; }

#lunrsearchresults #search-results .lunrsearchresult .title { color: #007bff; font-size: 1.25rem; }

#lunrsearchresults #search-results .lunrsearchresult .body { margin-bottom: 0.25rem; color: rgba(0, 0, 0, 0.5); }

#lunrsearchresults #search-results .lunrsearchresult .url { color: rgba(0, 123, 255, 0.65); font-size: 0.85rem; font-style: italic; }

#lunrsearchresults #search-results .lunrsearchresult a:hover, #lunrsearchresults #search-results .lunrsearchresult a:focus { background: none; box-shadow: none; }

.example-section { counter-increment: example; counter-reset: subtopic; margin-bottom: 2rem; }

.example-section h3 { color: #007bff; font-weight: 600; }

.example-section h3 .example-counter::before { content: counter(example); }

.example-section h4 { color: purple; counter-increment: subtopic; }

.example-section h4 .example-counter::before { content: counter(example) "." counter(subtopic); }

.example-section:last-child { margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */